div img{
  width: 500px;
  height: 300px;
  border: 2px solid rgb(153, 153, 153);
  padding: 10px 10px 50px 10px;
  opacity: 0.5;
  display: inline;
  filter: grayscale(100);
}




.dog1 img{
  z-index: 0;
  transform: rotate(10deg);
  position: absolute;
  top: 40%;
  left: 20%;
}

.dog2 img{
z-index: -1;
  transform: rotate(20deg);
  position: absolute;
  top: 30%;
  left: 30%;

}

.dog3 img{
  z-index: -3;
  transform: rotate(10deg);
  position: absolute;
  top: 20%;
  left: 40%;

}

.dog4 img{
  z-index: -4;
  transform: rotate(-10deg);
  position: absolute;
  top: 10%;
  left: 40%;
}

img:hover {
  filter: none;
  z-index: 10;
  transform: rotate(0deg);
  opacity: 1;
  transition: 250ms;
}
