div img{
  width: 500px;
  height: 300px;
  border: 2px solid rgb(153, 153, 153);
  padding: 10px 10px 50px 10px;
  opacity: 0.5;
}




.dog1 img{
  z-index: 0;
  transform: rotate(10deg);
  position: absolute;
  top: 500px;
  left: 200px;
  display: inline;
  filter: grayscale(100);
  opacity: (0.5);
}

.dog2 img{
z-index: -1;
  transform: rotate(20deg);
  position: absolute;
  top: 400px;
  left: 400px;
  display: inline;
  filter: grayscale(100);
}

.dog3 img{
  z-index: -3;
  transform: rotate(10deg);
  position: absolute;
  top: 300px;
  left: 600px;
  display: inline;
  filter: grayscale(100);
}

.dog4 img{
  z-index: -4;
  transform: rotate(-10deg);
  position: absolute;
  top: 100px;
  left: 700px;
  display: inline;
  filter: grayscale(100);
}

img:hover {
  filter: none;
  z-index: 10;
  transform: rotate(0deg);
  opacity: 1;
}